/**
* COLORS
*/
$primaryColor: #304AB3;
//purple: #220A40
//blue: #0a74fd
//Solid blue: #304AB3
$secondaryColor: #B38C1E;
//Mustard 1 #B3A804
//Mustard 2 #B38C1E
$successColor: #1EB336;
$failColor: #FF4912;
$bgColor: #282c34;
//Dark purple: #1F0E40
//Slate: #282c34
//Dark Blue: #080C1C

/**
* FONT
*/
@font-face {
   font-family: 'Quicksand';
   src: url('Quicksand-VariableFont_wght.ttf')
}
// $fontSize: calc(10px + 2vmin);
$fontSize: 16px;
$fontColor: white;
$fontPrimary: Quicksand;
// -webkit-font-smoothing: antialiased;
// -moz-osx-font-smoothing: grayscale;

/**
* DESIGN
*/
$borRad: 3px;